<!--Footer Section Begins-->
<footer class="footer-section">
  <div class="container">
    <ul class="icon-list">
      <li class="icon-item">
        <a href="https://twitter.com/thunglano" class="icon-link"><i class="fa-brands fa-x-twitter"></i></a>
      </li>
      <li class="icon-item">
        <a href="https://www.instagram.com/shin.artworks_/" class="icon-link"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="icon-item">
        <a href="https://www.artstation.com/shal_arts" class="icon-link"><i class="fab fa-artstation"></i></a>
      </li>
      <li class="icon-item">
        <a href="https://www.youtube.com/@shalthunglano" class="icon-link"><i class="fab fa-youtube"></i></a>
      </li>
    </ul>
    <div class="copyright">
      &copy; Copyright <strong><%= new Date().getFullYear() %> Shin Artworks.</strong> All Rights Reserved
    </div>
  </div>
</footer>
<!--Footer Section Ends-->

<script src="/js/preloader.js"></script>
<script src="/js/scrolltop.js"></script>
<script src="/js/navbar.js"></script>
</body>
</html>