<%- include('partials/header')%>
<!--Canvas Gallery Begins-->
<section>
  <div class="container">
    <div class="card-header-gallery">
      <h1 class="card-title">Canvas</h1>
    </div>
  </div>
  <div class="grid-gallery" uk-lightbox="animation: fade; autoplay: true; autoplay-interval: 8000">
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-01.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-01.jpg" alt="Lights">
      </a>
      <div class="grid-info">
        <div class="grid-name">Lights</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-02.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-02.jpg" alt="Above">
      </a>
      <div class="grid-info">
        <div class="grid-name">Above</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-03.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-03.jpg" alt="Dusk">
      </a>
      <div class="grid-info">
        <div class="grid-name">Dusk</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-04.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-04.jpg" alt="Dawn">
      </a>
      <div class="grid-info">
        <div class="grid-name">Dawn</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-05.png">
        <img src="/assets/images/gallery/canvas/Canvas-05.png" alt="Naga without Borders">
      </a>
      <div class="grid-info">
        <div class="grid-name">Naga without Borders</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-06.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-06.jpg" alt="">
      </a>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-07.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-07.jpg" alt="Ganbatte">
      </a>
      <div class="grid-info">
        <div class="grid-name">Ganbatte</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-08.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-08.jpg" alt="Neko">
      </a>
      <div class="grid-info">
        <div class="grid-name">Neko</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-09.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-09.jpg" alt="Church">
      </a>
      <div class="grid-info">
        <div class="grid-name">Church</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-10.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-10.jpg" alt="Good Friday">
      </a>
      <div class="grid-info">
        <div class="grid-name">Good Friday</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-11.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-11.jpg" alt="Messiah">
      </a>
      <div class="grid-info">
        <div class="grid-name">Messiah</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-12.jpg">
        <img src="/assets/images/gallery/canvas/Canvas-12.jpg" alt="Portrait in Oil">
      </a>
      <div class="grid-info">
        <div class="grid-name">Portrait in Oil</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/canvas/Canvas-13.png">
        <img src="/assets/images/gallery/canvas/Canvas-13.png" alt="Just another cat">
      </a>
      <div class="grid-info">
        <div class="grid-name">Just a cat</div>
      </div>
    </div>
  </div>
</section>
<!--Canvas Gallery Ends-->

<div class="pagination-links">
  <div class="previous-link-container"><i class="ri-arrow-left-line"></i><a href="/work/traditional" class="previous-link">Traditional</a></div>
  <div class="next-link-container"><a href="/work/sketchbook" class="next-link">SketchBook</a><i class="ri-arrow-right-line"></i></div>
</div>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!--UIkit JS Files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit-icons.min.js"></script>

<!--Javascript Main File-->
<script src="/js/gallery.js"></script>
<%- include('partials/footer')%>