<%- include('partials/header')%>
<div class="container">
  <div class="card-header-work">
    <h1 class="card-title">Commission Guide</h1>
  </div>
</div>

<section class="container">
  <div class="price-grid">
    <div class="price-item">
      <img id="price-sheet-0" src="/assets/images/commission_sheet/desktop/Price_Sheet-0.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
      <img id="price-sheet-1" src="/assets/images/commission_sheet/desktop/Price_Sheet-1.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
      <img id="price-sheet-2" src="/assets/images/commission_sheet/desktop/Price_Sheet-2.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
      <img id="price-sheet-3" src="/assets/images/commission_sheet/desktop/Price_Sheet-3.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
      <img id="price-sheet-4" src="/assets/images/commission_sheet/desktop/Price_Sheet-4.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
      <img id="price-sheet-5" src="/assets/images/commission_sheet/desktop/Price_Sheet-5.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
      <img id="price-sheet-6" src="/assets/images/commission_sheet/desktop/Price_Sheet-6.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
      <img id="price-sheet-7" src="/assets/images/commission_sheet/desktop/Price_Sheet-7.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
      <img id="price-sheet-8" src="/assets/images/commission_sheet/desktop/Price_Sheet-8.png" alt="Commission Pricing List">
    </div>
    <div class="price-item">
  <div>
    <video class="myVideo" id="price-sheet-9" autoplay loop muted>
      <source src="" type="video/mp4">
    </video>
    <div class="vol-controls-1">
      <button class="control-button" data-video-index="1">
        <i class="fa-solid fa-volume-xmark muteIcon"></i>
        <i class="fa-solid fa-volume-high unmuteIcon" style="display: none;"></i>
      </button>
    </div>
  </div>
</div>
<div class="price-item">
  <div>
    <video class="myVideo" id="price-sheet-10" autoplay loop muted>
      <source src="" type="video/mp4">
    </video>
    <div class="vol-controls-2">
      <button class="control-button" data-video-index="2">
        <i class="fa-solid fa-volume-xmark muteIcon"></i>
        <i class="fa-solid fa-volume-high unmuteIcon" style="display: none;"></i>
      </button>
    </div>
  </div>
</div>

  </div>
</section>

<div class="gallery-header glass-bg">
  <h1 class="main-head">Work</h1>
</div>

<section class="art-showcase">
  <div class="container art-container art-card-container">
    <!--Illustration Art Card Begins-->
    <div class="art-card art-card-img-1">
      <div class="card-content">
        <div class="card-info">
          <div class="card-name">Digital</div>
          <div class="btn-img">
            <a class="btn-learn" href="/work/digital">
              <span class="top-splice"></span>
              <span class="learn-text">Learn More</span>
              <span class="bottom-splice-1"></span>
              <span class="bottom-splice-2"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-blur"></div>
    </div>
    <!--Illustration Art Card Ends-->

    <!--Concept Art Card Begins-->
    <div class="art-card art-card-img-2">
      <div class="card-content">
        <div class="card-info">
          <div class="card-name">Concept Art</div>
          <div class="btn-img">
            <a class="btn-learn" href="/work/conceptart">
              <span class="top-splice"></span>
              <span class="learn-text">Learn More</span>
              <span class="bottom-splice-1"></span>
              <span class="bottom-splice-2"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-blur"></div>
    </div>
    <!--Concept Art Card Ends-->

    <!--Animated Art Card Begins-->
    <div class="art-card art-card-img-3">
      <div class="card-content">
        <div class="card-info">
          <div class="card-name">Animated</div>
          <div class="btn-img">
            <a class="btn-learn" href="/work/animated">
              <span class="top-splice"></span>
              <span class="learn-text">Learn More</span>
              <span class="bottom-splice-1"></span>
              <span class="bottom-splice-2"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-blur"></div>
    </div>
    <!--Animated Art Card Ends-->

    <!--Traditional Art Card Begins-->
    <div class="art-card art-card-img-4">
      <div class="card-content">
        <div class="card-info">
          <div class="card-name">Traditional</div>
          <div class="btn-img">
            <a class="btn-learn" href="/work/traditional">
              <span class="top-splice"></span>
              <span class="learn-text">Learn More</span>
              <span class="bottom-splice-1"></span>
              <span class="bottom-splice-2"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-blur"></div>
    </div>
    <!--Traditional Art Card Ends-->

    <!--Canvas Art Card Begins-->
    <div class="art-card art-card-img-5">
      <div class="card-content">
        <div class="card-info">
          <div class="card-name">Canvas</div>
          <div class="btn-img">
            <a class="btn-learn" href="/work/canvas">
              <span class="top-splice"></span>
              <span class="learn-text">Learn More</span>
              <span class="bottom-splice-1"></span>
              <span class="bottom-splice-2"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-blur"></div>
    </div>
    <!--Canvas Art Card Ends-->

    <!--Sketch-Book Art Card Begins-->
    <div class="art-card art-card-img-6">
      <div class="card-content">
        <div class="card-info">
          <div class="card-name">Sketchbook</div>
          <div class="btn-img">
            <a class="btn-learn" href="/work/sketchbook">
              <span class="top-splice"></span>
              <span class="learn-text">Learn More</span>
              <span class="bottom-splice-1"></span>
              <span class="bottom-splice-2"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="card-blur"></div>
    </div>
    <!--Sketch-Book Art Card Ends-->
  </div>
</section>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!--UIkit JS Files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit-icons.min.js"></script>

<!--Javascript Main File-->
<script src="/js/commission.js"></script>
<%- include('partials/footer')%>