<%- include('partials/header')%>
<!--Concept Art Gallery Begins-->
<section>
  <div class="container">
    <div class="card-header-gallery">
      <h1 class="card-title">Concept Art</h1>
    </div>
  </div>
  <div class="grid-gallery" uk-lightbox="animation: fade; autoplay: true; autoplay-interval: 8000">
    <div class="grid-item">
      <a href="/assets/images/gallery/concept/Concept-01.jpg">
        <img src="/assets/images/gallery/concept/Concept-01.jpg" alt="Self Love">
      </a>
      <div class="grid-info">
        <div class="grid-name">Self Love</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/concept/Concept-02.jpg">
        <img src="/assets/images/gallery/concept/Concept-02.jpg" alt="Spider Sona">
      </a>
      <div class="grid-info">
        <div class="grid-name">Spider Sona</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/concept/Concept-03.jpg">
        <img src="/assets/images/gallery/concept/Concept-03.jpg" alt="Abigail - Full">
      </a>
      <div class="grid-info">
        <div class="grid-name">Abigail - Full</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/concept/Concept-04.jpg">
        <img src="/assets/images/gallery/concept/Concept-04.jpg" alt="Abigail">
      </a>
      <div class="grid-info">
        <div class="grid-name">Abigail</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/concept/Concept-05.jpg">
        <img src="/assets/images/gallery/concept/Concept-05.jpg" alt="Luke - Full">
      </a>
      <div class="grid-info">
        <div class="grid-name">Luke - Full</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/concept/Concept-06.jpg">
        <img src="/assets/images/gallery/concept/Concept-06.jpg" alt="Luke">
      </a>
      <div class="grid-info">
        <div class="grid-name">Luke</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/concept/Concept-07.jpg">
        <img src="/assets/images/gallery/concept/Concept-07.jpg" alt="Hair">
      </a>
      <div class="grid-info">
        <div class="grid-name">Hair</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/concept/Concept-08.jpg">
        <img src="/assets/images/gallery/concept/Concept-08.jpg" alt="Webtoon">
      </a>
      <div class="grid-info">
        <div class="grid-name">Webtoon</div>
      </div>
    </div>
  </div>
</section>
<!--Concept Art Gallery Ends-->

<div class="pagination-links">
  <div class="previous-link-container"><i class="ri-arrow-left-line"></i><a href="/work/digital" class="previous-link">Digital</a></div>
  <div class="next-link-container"><a href="/work/animated" class="next-link">Animated</a><i class="ri-arrow-right-line"></i></div>
</div>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!--UIkit JS Files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit-icons.min.js"></script>

<!--Javascript Main File-->
<script src="/js/gallery.js"></script>
<!--Concept Art Gallery Ends-->
<%- include('partials/footer')%>