<%- include('partials/header')%>
<!--Digital Gallery Begins-->
<section>
  <div class="container">
    <div class="card-header-gallery">
      <h1 class="card-title">Digital</h1>
    </div>
  </div>
  <div class="grid-gallery" uk-lightbox="animation: fade; autoplay: true; autoplay-interval: 8000">
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-01.jpg">
        <img src="/assets/images/gallery/digital/digital-01.jpg" alt="Bella">
      </a>
      <div class="grid-info">
        <div class="grid-name">Bella</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-02.jpg">
        <img src="/assets/images/gallery/digital/digital-02.jpg" alt="Shin">
      </a>
      <div class="grid-info">
        <div class="grid-name">Shin</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-03.jpg">
        <img src="/assets/images/gallery/digital/digital-03.jpg" alt="Melancholy">
      </a>
      <div class="grid-info">
        <div class="grid-name">Melancholy</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-04.jpg">
        <img src="/assets/images/gallery/digital/digital-04.jpg" alt="Gratitude">
      </a>
      <div class="grid-info">
        <div class="grid-name">Gratitude</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-05.jpg">
        <img src="/assets/images/gallery/digital/digital-05.jpg" alt="Marin Kitagawa">
      </a>
      <div class="grid-info">
        <div class="grid-name">Marin Kitagawa</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-06.jpg">
        <img src="/assets/images/gallery/digital/digital-06.jpg" alt="Venti">
      </a>
      <div class="grid-info">
        <div class="grid-name">Venti</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-07.jpg">
        <img src="/assets/images/gallery/digital/digital-07.jpg" alt="Wendy">
      </a>
      <div class="grid-info">
        <div class="grid-name">Wendy</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-08.png">
        <img src="/assets/images/gallery/digital/digital-08.png" alt="Satoru Gojo">
      </a>
      <div class="grid-info">
        <div class="grid-name">Satoru Gojo</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-09.jpg">
        <img src="/assets/images/gallery/digital/digital-09.jpg" alt="March">
      </a>
      <div class="grid-info">
        <div class="grid-name">March</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-10.jpg">
        <img src="/assets/images/gallery/digital/digital-10.jpg" alt="I don't like you">
      </a>
      <div class="grid-info">
        <div class="grid-name">I don't like you</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-11.jpg">
        <img src="/assets/images/gallery/digital/digital-11.jpg" alt="Totoro">
      </a>
      <div class="grid-info">
        <div class="grid-name">Totoro</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-12.png">
        <img src="/assets/images/gallery/digital/digital-12.png" alt="Not a single thought behind those eyes">
      </a>
      <div class="grid-info">
        <div class="grid-name">Empty</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-13.jpg">
        <img src="/assets/images/gallery/digital/digital-13.jpg" alt="Yor Foger">
      </a>
      <div class="grid-info">
        <div class="grid-name">Yor Foger</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-14.jpg">
        <img src="/assets/images/gallery/digital/digital-14.jpg" alt="Anya">
      </a>
      <div class="grid-info">
        <div class="grid-name">Anya</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-15.jpg">
        <img src="/assets/images/gallery/digital/digital-15.jpg" alt="Loid Forger">
      </a>
      <div class="grid-info">
        <div class="grid-name">Loid Forger</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-16.jpg">
        <img src="/assets/images/gallery/digital/digital-16.jpg" alt="Anya and Damian">
      </a>
      <div class="grid-info">
        <div class="grid-name">Anya and Damian</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-17.jpg">
        <img src="/assets/images/gallery/digital/digital-17.jpg" alt="Letting go">
      </a>
      <div class="grid-info">
        <div class="grid-name">Letting go</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-18.jpg">
        <img src="/assets/images/gallery/digital/digital-18.jpg" alt="Mob Psycho">
      </a>
      <div class="grid-info">
        <div class="grid-name">Mob Psycho</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-19.jpg">
        <img src="/assets/images/gallery/digital/digital-19.jpg" alt="Pearl">
      </a>
      <div class="grid-info">
        <div class="grid-name">Pearl</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-20.jpg">
        <img src="/assets/images/gallery/digital/digital-20.jpg" alt="Daryl Dixon">
      </a>
      <div class="grid-info">
        <div class="grid-name">Daryl Dixon</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-21.png">
        <img src="/assets/images/gallery/digital/digital-21.png" alt="Komi and Tadano">
      </a>
      <div class="grid-info">
        <div class="grid-name">Komi and Tadano</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-22.png">
        <img src="/assets/images/gallery/digital/digital-22.png" alt="Paxton and Devi">
      </a>
      <div class="grid-info">
        <div class="grid-name">Paxton and Devi</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/digital/digital-23.jpg">
        <img src="/assets/images/gallery/digital/digital-23.jpg" alt="Heno">
      </a>
      <div class="grid-info">
        <div class="grid-name">Heno</div>
      </div>
    </div>
  </div>
</section>
<!--Digital Gallery Ends-->

<div class="pagination-links page-link-start">
  <div class="next-link-container"><a href="/work/conceptart" class="next-link">Concept Art</a><i class="ri-arrow-right-line"></i></div>
</div>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!--UIkit JS Files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit-icons.min.js"></script>

<!--Javascript Main File-->
<script src="/js/gallery.js"></script>
<%- include('partials/footer')%>