<%- include('partials/header')%>
<main>
  <!--Hero Section Begins-->
  <section class="hero" id="hero">
    <div class="grid-box hero-container container">
      <div class="hero-heading-container">
        <div class="hero-heading">
          <span class="hero-greeting">Hello</span>
          <h1>I'm <span class="hero-name">Shal Thunglano</span></h1>
        </div>
      </div>
      <div class="hero-profile">
        <div class="hero-img-container">
          <img src="/assets/images/Shin_Arts_Hero_Profile.png" alt="Shin's Profile Image" class="hero-img" />
        </div>
      </div>
      <div class="hero-info">
        <p class="hero-description">
          <span class="hero-title">A Multi Medium Artist.</span> 
          I try my best with every medium in the art field, it's a quality work at friendly prices.
        </p>
        <p class="hero-quote">
          Commit your works to the Lord and He will establish your plans. - Proverbs 16:3
        </p>
        <a href="#art-showcase" class="hero-scroll">
          <div class="hero-scroll-container">
            <i class="ri-arrow-down-s-line"></i>
          </div>
          <span class="hero-scroll-text">Scroll Down</span>
        </a>
      </div>
    </div>
  </section>
  <!--Hero Section Ends-->

  <div class="gallery-header glass-bg">
    <h1 class="main-head">Showcase</h1>
  </div>

  <!--Gallery Section Begins-->
  <section class="art-showcase" id="art-showcase">
    <div class="container">
      <div class="art-card-container art-container">
        <!--Illustration Art Card Begins-->
        <div class="art-card art-card-img-1">
          <div class="card-content">
            <div class="card-info">
              <div class="card-name">Digital</div>
              <div class="btn-img">
                <a class="btn-learn" href="/work/digital">
                  <span class="top-splice"></span>
                  <span class="learn-text">Learn More</span>
                  <span class="bottom-splice-1"></span>
                  <span class="bottom-splice-2"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-blur"></div>
        </div>
        <!--Illustration Art Card Ends-->

        <!--Concept Art Card Begins-->
        <div class="art-card art-card-img-2">
          <div class="card-content">
            <div class="card-info">
              <div class="card-name">Concept Art</div>
              <div class="btn-img">
                <a class="btn-learn" href="/work/conceptart">
                  <span class="top-splice"></span>
                  <span class="learn-text">Learn More</span>
                  <span class="bottom-splice-1"></span>
                  <span class="bottom-splice-2"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-blur"></div>
        </div>
        <!--Concept Art Card Ends-->

        <!--Animated Art Card Begins-->
        <div class="art-card art-card-img-3">
          <div class="card-content">
            <div class="card-info">
              <div class="card-name">Animated</div>
              <div class="btn-img">
                <a class="btn-learn" href="/work/animated">
                  <span class="top-splice"></span>
                  <span class="learn-text">Learn More</span>
                  <span class="bottom-splice-1"></span>
                  <span class="bottom-splice-2"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-blur"></div>
        </div>
        <!--Animated Art Card Ends-->

        <!--Traditional Art Card Begins-->
        <div class="art-card art-card-img-4">
          <div class="card-content">
            <div class="card-info">
              <div class="card-name">Traditional</div>
              <div class="btn-img">
                <a class="btn-learn" href="/work/traditional">
                  <span class="top-splice"></span>
                  <span class="learn-text">Learn More</span>
                  <span class="bottom-splice-1"></span>
                  <span class="bottom-splice-2"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-blur"></div>
        </div>
        <!--Traditional Art Card Ends-->

        <!--Canvas Art Card Begins-->
        <div class="art-card art-card-img-5">
          <div class="card-content">
            <div class="card-info">
              <div class="card-name">Canvas</div>
              <div class="btn-img">
                <a class="btn-learn" href="/work/canvas">
                  <span class="top-splice"></span>
                  <span class="learn-text">Learn More</span>
                  <span class="bottom-splice-1"></span>
                  <span class="bottom-splice-2"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-blur"></div>
        </div>
        <!--Canvas Art Card Ends-->

        <!--Sketch-Book Art Card Begins-->
        <div class="art-card art-card-img-6">
          <div class="card-content">
            <div class="card-info">
              <div class="card-name">Sketchbook</div>
              <div class="btn-img">
                <a class="btn-learn" href="/work/sketchbook">
                  <span class="top-splice"></span>
                  <span class="learn-text">Learn More</span>
                  <span class="bottom-splice-1"></span>
                  <span class="bottom-splice-2"></span>
                </a>
              </div>
            </div>
          </div>
          <div class="card-blur"></div>
        </div>
        <!--Sketch-Book Art Card Ends-->
      </div>

    </div>
  </section>
</main>
<!--Gallery Section Ends-->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!--Javascript Main File-->
<script src="/js/index.js"></script>

<%- include('partials/footer')%>