<%- include('partials/header')%>
<!--SketchBook Gallery Begins-->
<section>
  <div class="container">
    <div class="card-header-gallery">
      <h1 class="card-title">SketchBook</h1>
    </div>
  </div>
  <div class="grid-gallery" uk-lightbox="animation: fade; autoplay: true; autoplay-interval: 8000">
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-01.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-01.jpg" alt="Portrait">
      </a>
      <div class="grid-info">
        <div class="grid-name">Portrait</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-02.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-02.jpg" alt="Portrait">
      </a>
      <div class="grid-info">
        <div class="grid-name">Portrait</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-03.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-03.jpg" alt="Eye Study">
      </a>
      <div class="grid-info">
        <div class="grid-name">Eye Study</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-04.png">
        <img src="/assets/images/gallery/sketch/Sketch-04.png" alt="Hand Study">
      </a>
      <div class="grid-info">
        <div class="grid-name">Hand Study</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-05.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-05.jpg" alt="">
      </a>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-06.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-06.jpg" alt="Realism">
      </a>
      <div class="grid-info">
        <div class="grid-name">Realism</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-07.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-07.jpg" alt="Commission">
      </a>
      <div class="grid-info">
        <div class="grid-name">Commission</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-08.png">
        <img src="/assets/images/gallery/sketch/Sketch-08.png" alt="Commission">
      </a>
      <div class="grid-info">
        <div class="grid-name">Commission</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-09.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-09.jpg" alt="Character Linda">
      </a>
      <div class="grid-info">
        <div class="grid-name">Character Linda</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-10.png">
        <img src="/assets/images/gallery/sketch/Sketch-10.png" alt="Lookism-Fanart">
      </a>
      <div class="grid-info">
        <div class="grid-name">Lookism-Fanart</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-11.png">
        <img src="/assets/images/gallery/sketch/Sketch-11.png" alt="Portrait">
      </a>
      <div class="grid-info">
        <div class="grid-name">Portrait</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-12.png">
        <img src="/assets/images/gallery/sketch/Sketch-12.png" alt="Character Emma">
      </a>
      <div class="grid-info">
        <div class="grid-name">Character Emma</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-13.png">
        <img src="/assets/images/gallery/sketch/Sketch-13.png" alt="Shaun">
      </a>
      <div class="grid-info">
        <div class="grid-name">Shaun</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-14.png">
        <img src="/assets/images/gallery/sketch/Sketch-14.png" alt="Character Shaun">
      </a>
      <div class="grid-info">
        <div class="grid-name">Character Shaun</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-15.png">
        <img src="/assets/images/gallery/sketch/Sketch-15.png" alt="Sabrina">
      </a>
      <div class="grid-info">
        <div class="grid-name">Sabrina</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-16.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-16.jpg" alt="Character Sabrina">
      </a>
      <div class="grid-info">
        <div class="grid-name">Character Sabrina</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-17.png">
        <img src="/assets/images/gallery/sketch/Sketch-17.png" alt="Tanjiro-Fanart">
      </a>
      <div class="grid-info">
        <div class="grid-name">Tanjiro-Fanart</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-18.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-18.jpg" alt="Rengoku-Fanart">
      </a>
      <div class="grid-info">
        <div class="grid-name">Rengoku-Fanart</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-19.png">
        <img src="/assets/images/gallery/sketch/Sketch-19.png" alt="Ruth">
      </a>
      <div class="grid-info">
        <div class="grid-name">Ruth</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-20.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-20.jpg" alt="Character Sasha">
      </a>
      <div class="grid-info">
        <div class="grid-name">Character Sasha</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-21.png">
        <img src="/assets/images/gallery/sketch/Sketch-21.png" alt="Matthew">
      </a>
      <div class="grid-info">
        <div class="grid-name">Matthew</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-22.png">
        <img src="/assets/images/gallery/sketch/Sketch-22.png" alt="Character Matthew">
      </a>
      <div class="grid-info">
        <div class="grid-name">Character Matthew</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-23.png">
        <img src="/assets/images/gallery/sketch/Sketch-23.png" alt="Andrew">
      </a>
      <div class="grid-info">
        <div class="grid-name">Andrew</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-24.png">
        <img src="/assets/images/gallery/sketch/Sketch-24.png" alt="Character Andrew">
      </a>
      <div class="grid-info">
        <div class="grid-name">Character Andrew</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-25.png">
        <img src="/assets/images/gallery/sketch/Sketch-25.png" alt="You already know">
      </a>
      <div class="grid-info">
        <div class="grid-name">You already know</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-26.png">
        <img src="/assets/images/gallery/sketch/Sketch-26.png" alt="Sensory Overload">
      </a>
      <div class="grid-info">
        <div class="grid-name">Sensory Overload</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/sketch/Sketch-27.jpg">
        <img src="/assets/images/gallery/sketch/Sketch-27.jpg" alt="Portrait">
      </a>
      <div class="grid-info">
        <div class="grid-name">Portrait</div>
      </div>
    </div>
  </div>
</section>
<!--SketchBook Gallery Ends-->

<div class="pagination-links">
  <div class="previous-link-container"><i class="ri-arrow-left-line"></i><a href="/work/canvas" class="previous-link">Canvas</a></div>
</div>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>

<!--UIkit JS Files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit-icons.min.js"></script>

<!--Javascript Main File-->
<script src="/js/gallery.js"></script>
<%- include('partials/footer')%>