<%- include('partials/header')%>
<!--Traditional Gallery Begins-->
<section>
  <div class="container">
    <div class="card-header-gallery">
      <h1 class="card-title">Traditional</h1>
    </div>
  </div>
  <div class="grid-gallery" uk-lightbox="animation: fade; autoplay: true; autoplay-interval: 8000">
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-01.png">
        <img src="/assets/images/gallery/traditional/Traditional-01.png" alt="Banana Girl">
      </a>
      <div class="grid-info">
        <div class="grid-name">Yellow</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-02.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-02.jpg" alt="Nezuko Kamado">
      </a>
      <div class="grid-info">
        <div class="grid-name">Nezuko Kamado</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-03.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-03.jpg" alt="Kiki">
      </a>
      <div class="grid-info">
        <div class="grid-name">Kiki</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-04.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-04.jpg" alt="Mikasa Ackerman">
      </a>
      <div class="grid-info">
        <div class="grid-name">Mikasa Ackerman</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-05.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-05.jpg" alt="Joy">
      </a>
      <div class="grid-info">
        <div class="grid-name">Joy</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-06.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-06.jpg" alt="Beloved">
      </a>
      <div class="grid-info">
        <div class="grid-name">Beloved</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-07.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-07.jpg" alt="Kuriyama Mirai">
      </a>
      <div class="grid-info">
        <div class="grid-name">Kuriyama Mirai</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-08.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-08.jpg" alt="Sunflower">
      </a>
      <div class="grid-info">
        <div class="grid-name">Sunflower</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-09.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-09.jpg" alt="Magi">
      </a>
      <div class="grid-info">
        <div class="grid-name">Magi</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-10.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-10.jpg" alt="Spy x Fam">
      </a>
      <div class="grid-info">
        <div class="grid-name">Spy x Fam</div>
      </div>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-11.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-11.jpg" alt="">
      </a>
    </div>
    <div class="grid-item">
      <a href="/assets/images/gallery/traditional/Traditional-12.jpg">
        <img src="/assets/images/gallery/traditional/Traditional-12.jpg" alt="Pingu">
      </a>
      <div class="grid-info">
        <div class="grid-name">Pingu</div>
      </div>
    </div>
  </div>
</section>
<!--Traditional Gallery Ends-->

<div class="pagination-links">
  <div class="previous-link-container"><i class="ri-arrow-left-line"></i><a href="/work/animated" class="previous-link">Animated</a></div>
  <div class="next-link-container"><a href="/work/canvas" class="next-link">Canvas</a><i class="ri-arrow-right-line"></i></div>
</div>

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader">
  <div class="line"></div>
</div>


<!--UIkit JS Files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.19.4/js/uikit-icons.min.js"></script>

<!--Javascript Main File-->
<script src="/js/gallery.js"></script>
<%- include('partials/footer')%>